<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/com.MavenBasicTestNG">
        <classes>
            <class name="TestNGBasic.AppiumTest">
                <methods>
                    <include name="nativeApp"/>
                    <include name="iosApp"/>
                </methods>
            </class>
            <class name="MavenBasicTestNG.RestAPITest">
                <methods>
                    <include name="postJira"/>
                    <include name="twitterDelete"/>
                </methods>
            </class>
            <class name="MavenBasicTestNG.SeleniumTest">
                <methods>
                    <exclude name="browserAutomation"/>
                    <exclude name="elementUI"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>